{% extends "master.html" %}

{% block title %}
    Cars offered by users
{% endblock %}

{% block content %}
<!-- <ul>
    {% for offer in offers %}
        <li><a href="{% url 'accept_car' offer.id%}">{{ offer.name }}</a>
    {% endfor %}
</ul> -->
<div class="container mx-auto py-8 h-screen">

  <table class="min-w-full divide-y divide-gray-200">
    <thead class="bg-gray-50">
      <tr>
        <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
          Name
        </th>
        <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
          Wheels
        </th>
        <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
          Manufacturer
        </th>
        <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
          Clutch
        </th>
        <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
          License Plate
        </th>
        <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
          Car Type
        </th>
        <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
          Kilometrage
        </th>
        <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
          Offering User
        </th>
        <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
            
        </th>
        <!-- Add more headers if needed -->
      </tr>
    </thead>
    <tbody class="divide-y divide-gray-200">
      <!-- Odd line -->
      {% for offer in offers %}
      <tr class="odd:bg-white even:bg-gray-100">
        <td class="px-6 py-4 whitespace-nowrap">
          <div class="text-sm text-gray-900">{{ offer.name }}</div>
        </td>
        <td class="px-6 py-4 whitespace-nowrap">
          <div class="text-sm text-gray-900">{{ offer.wheels }}</div>
        </td>
        <td class="px-6 py-4 whitespace-nowrap">
          <div class="text-sm text-gray-900">{{ offer.manufacturer.title }}</div>
        </td>
        <td class="px-6 py-4 whitespace-nowrap">
          <div class="text-sm text-gray-900">{{ offer.clutch }}</div>
        </td>
        <td class="px-6 py-4 whitespace-nowrap">
          <div class="text-sm text-gray-900">{{ offer.license_plate }}</div>
        </td>
        <td class="px-6 py-4 whitespace-nowrap">
          <div class="text-sm text-gray-900">{{ offer.car_type }}</div>
        </td>
        <td class="px-6 py-4 whitespace-nowrap">
          <div class="text-sm text-gray-900">{{ offer.kilometrage }}</div>
        </td>
        <td class="px-6 py-4 whitespace-nowrap">
          <div class="text-sm text-gray-900">{{ offer.offering_user }}</div>
        </td>
        <!-- Button cell -->
        <a id="accept-url-{{offer.id}}" class="hidden">{% url 'accept_car' offer.id %}</a>
        <td class="px-6 py-4 whitespace-nowrap">
          <button class="px-4 py-2 bg-blue-500 text-white rounded-md hover:bg-blue-600 focus:outline-none focus:bg-blue-600" onclick="window.location.pathname = document.getElementById('accept-url-{{offer.id}}').innerHTML">Accept Car</button>
        </td>
      </tr>
      {% endfor %}
     
    </tbody>
  </table>
</div> 
  
{% endblock %}
